 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  .textarea {
  	font-family: 'Roboto', sans-serif;
  		height:100%;
    }
     body {
    margin: auto;
  	max-width: 600px;
      font-family: 'Roboto', sans-serif;
    }
#results {
	background-color: lightgrey;
}
#send{
	margin: auto;
	max-width: 120px;
}